.body {
	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: normal;
	color: #990000;
	text-decoration: none;
}

@media only screen and (min-width:62.5em) { 
body {
background: url('graphics/background.gif') white left no-repeat fixed
}
}

.body a:link {

	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	 ;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}
.body a:visited {


	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	 ;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}
.body a:hover {



	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	 ;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.body a:active {




	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	 ;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}
.header {
	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	 
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}
.blockquote {
	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	 
	font-weight: bolder;
	color: #CC0000;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	border: 3px dotted #999999;
	height: auto;
	width: auto;
	padding: 10px;


}
.header a:link {

	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	 ;
	font-weight: bold;
	color: #CC0000;
	text-decoration: none;
}
.header a:visited {


	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	 ;
	font-weight: bold;
	color: #CC0000;
	text-decoration: none;
}
.header a:hover {
	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	 ;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;

}
.header a:active {




	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	 ;
	font-weight: bold;
	color: #CC0000;
	text-decoration: none;
}
.blockquote a:link {

	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	 ;
	font-weight: bolder;
	color: #666666;
	text-decoration: none;
}
.blockquote a:visited {


	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	 ;
	font-weight: bolder;
	color: #666666;
	text-decoration: none;
}
.blockquote a:hover {



	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	 ;
	font-weight: bolder;
	color: #000000;
	text-decoration: underline;
}
.blockquote a:active {




	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	 ;
	font-weight: bolder;
	color: #666666;
	text-decoration: none;
}
.caption {
	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
	font-size: small;
	font-style: italic;
	color: #000000;
	text-decoration: none;
	text-align: center;

}

p #logobar a {
border: 0;
}

#mainContainer {
padding: 4%;
}